body {
    transform: scale(1.6);
    transform-origin: 0 0;
// add prefixed versions too.
}

input {
    width: 40px;
}

#result-diff-minutes {
    width: 80px;
}

#cache-button {
    width: 80px
}

#history-title {
    margin-bottom: 4;
}

#reset-history {
    margin-bottom: 10px;
}

p {
    height: 3px;
    margin-right: 20px;
    margin-left: 10px;
    display: inline
}