body {
    transform: scale(1.4);
    transform-origin: 0 0;
// add prefixed versions too.
}

input {
    width: 40px;
}

#result-diff-seconds, #offset-time-seconds-field {
    width: 128px;
    text-align: right;
}

#cache-button {
    width: 80px
}

#history-title {
    margin-bottom: 4px;
}

#reset-history {
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius:8px;

}

#reset-history:hover {
    background-color: #ff0000;
}

p {
    height: 3px;
    margin-right: 20px;
    margin-left: 10px;
    display: inline
}